@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #343434;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page,
.game-page {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 400px;
  padding: 50px 30px;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

.logo {
  align-self: flex-end;
  font-size: 30px;
  margin-bottom: 10px;
}
.logo span:nth-child(1) {
  color: #2194FF;
}
.logo span:nth-child(2) {
  color: #FF3898;
}

.container {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 40px 30px;
  text-align: center;
}

.launch-button {
  padding: 16px 0;
  width: 207px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #343434;
  color: white;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .home-page,
  .game-page {
    transform: scale(1.2);
    margin-top: 70px;
  }
}